-r requirements.txt
-r requirements-extras-vertica.txt
-r requirements-extras-snowflake.txt
-r requirements-extras-mysql.txt
-r requirements-extras-redshift.txt
-r requirements-extras-postgresql.txt
-r requirements-extras-mssql.txt
-r requirements-extras-ipython.txt

# Testing / CI
tox==3.23.1
tox-venv==0.4.0
tox-gh-actions==2.5.0
coverage==5.1

# Utilities
bumpversion==0.5.3
watchdog==0.8.3

# Docs
sphinx==2.2.0
sphinx-rtd-theme==0.4.3

# Formatting
black==21.5b2
