-r requirements.txt
mock
matplotlib
ipython
pymysql==0.8.0
vertica-python==0.7.3
psycopg2==2.7.3.2
snowflake-connector-python==1.7.2
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
sphinx==2.2.0
sphinx-rtd-theme==0.4.3
